<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <aside><%- include('../partials/sidebar') %></aside>
    <main></main>
    <footer>
      <%- include('../partials/obj',{OBJNumber:1}) %> <%-
      include('../partials/obj',{OBJNumber:2}) %>
    </footer>
    <script>
      const mainList = document.querySelector("main");
      const quantityInput = document.querySelector("input");

      quantityInput.addEventListener("input", async (event) => {
        const itemsNumber = Number(event.target.value);

        if (Number.isNaN(itemsNumber) || itemsNumber <= 0) {
          mainList.innerHTML = "";
          quantityInput.value = "";
          return;
        }

        try {
          const listRelativeURL = "/list-items?items_number=" + itemsNumber;

          const response = await fetch(listRelativeURL);
          const listHTML = await response.text();

          mainList.innerHTML = listHTML;
        } catch (error) {
          console.log(error);
        }
      });
    </script>
  </body>
</html>
